loguru==0.6.0
openai==0.26.4
requests==2.28.2
python-telegram-bot==20.b0
BeautifulSoup4==4.11.1
readability-lxml==0.8.1
pdfminer.six==20221105
openai-whisper==20230124
tiktoken==0.1.2
jiggypedia==0.0.3
langchain==0.0.74

